language: go
go:
- 1.10.x
before_install:
- find $GOPATH/src/github.com/ -depth -exec rename 's/(.*)\/([^\/]*)/$1\/\L$2/' {}
  \;
after_install:
- find $GOPATH/src/github.com/ -depth -exec rename 's/(.*)\/([^\/]*)/$1\/\L$2/' {}
  \;
stages:
- compile
- test
- name: acceptance
  if: branch = master OR type = pull_request
jobs:
  include:
  - stage: compile
    script: make
  - stage: test
    script: make unit
  - stage: acceptance
    script: make integration
notifications:
  slack: ignw:IxpMZ19gbbzU0vAM2SjvGtFx
env:
  - secure: LdS6nGI8VlDL9894s6kToIgdiNKX/G+mVX11t7yoVMMsR8aPURI982I4hbVBQw07pLVoeoCLGFWoSzVwNoYZuCKrCzmlKnQiT9wAnf9iLKcE7qYAPpz5pvHx6ft/PmQWfb6sX+tX2BLr/spbmfiyHBY43RUKki1MGW2FFC7tHkGr0CnA01FSRQ2NmGJlBHTEMjjUw7RRcz74WNXL66Msh0HvJiUXuv5kNO/Z+kNfHg8U76T/E80r/+7T5TBim3o5dg1nwBa6UxicylGc2wFthu1jnvI9vNGqRohLmsCorGCcNGR+sGoAl0CXQ/GG/D0ugmVCZOWfu2N8cJnavEopPHEqUTOhILML/sBTBcQ3AoGn4I/77hcU+Ft9hpMGRpKugqT7zLbfls0rSDLQ/3g88bfQJRfbCPJ/IJs6NRY4WW2H4XqHDuuSf5Auw8iBXYL8jrdVlhn+wTaa1zqKv5gyoUR41+WnjttTf3R4jtMa596/LYL+jC7sj5LwFAu5NyONClQPVEpuS8Y3WalAypgPDsly0AlOQXWHaIAK91hI8XSbefF5DeXQsfwdCZpNWh9v/xARggTnIteO0KPmX7lPzztSu97UiIERAYyVlCa4/CPPqm5sJTlSoz8Fk0RyaArlznQX1TZrvQUvVvWruqdIMDe2jrCw53uyPIZoZE2Ggqw=
  - secure: Qvqh5vlZuJlcEGdk2I2TcdU6uX6xtZzA+dFFeqZdhryjV+c6uw3An8pwRaVE0fMgFKC1kwXnJXxtA1qeNjSSY4B3uhYtyM27dZ8XqKG7S3mq4L4CG61G0LVqmFrq+cEd/giTsHMI7RAGIDsX3awlyWJeghwoSK6WmC5kSetyHKLzdoyfhZjOpzMEHdesBuTfSA+QTGeVXIn+qsYjhMbXPNtE1t0hEMsQxlmon2EPJVp7h3aRRS47rJY2YH3zOytypoUKi0pxEdHk6RsuvlSck1OX1VcagtuQskW3lAHRM+WGDnh+4K06MOBA2vEgupAYB6IcmGchIeodaF6tJkIzPTnSj2aSfZ3Ks0SbKshsEtpM1Pud3/s9f5NabNRuDxhRcBWGkvJ27FwX64eIGmqoVJXz6YLAYKxO23KjsOFMEkl7t6yedyhYnah+t5NGJCRF/xlyFG2a0ePi2GVuPpFhRaAzQow5wum2+uGhw+jiwx5N84JPPr/wnwAfR9ThfDvLL8jRgy2wXEQ3KTjTxabukfl81r9QI+PulZLRE/MSPK985JWIAzUBJRbqRC5dZGg+4QPc1ndzXdgFhf7cd7EQEgKWC64nC1Yp44gIWhpIp4AGcvOkEgC59X86INSED9Bwd7c9aA1lD04nBYbnsoTUZ3Qybi+v4kTduS/J8CjJg/Y=
  - secure: ReYAStWQmo2+zXkyEbLkD0zWs6F7DrW2j2qrPeoWoLJVGunHq2rRr6gCA5noOLsQZGWfnw2EORYssJlsc+XVKZr5o6Uos7i0mVJNz82c2JgvC+kvbjhtGbjGMlS/uiONfSp09JtpZ2F/4Cg/hOTPMT/T+u0IPdFCLNt1AInYr5iv42eHzayWwLQO9JLeZXLAuuwwrPZKNTQ86uQfZPChBwZzpzbkeWv+wNCNG4aRyOSXgjPNrCIaDWXe2sMKSwFz8o4MDzOIOAnGsrDFcA/elYbgoTCto8EtyHyfYDU5/e6XvWo58rvlRNxhefdDTkSkQHbT2yfZthxO04HlE1luJxibpeI9a7K8x9Cw88y33GWiRO2HivhkFRBXbLVdTBMjWB8NZBWdLIsE0wR2UC/U/m4DuN6ipJUp/p55erEJs+GdlRWhZtYgidWdxxizZN/kcEiykHjeh8WMIY97eMKVLYAweM2BQz75nNkcdWxofv+waBnnyt74t60cG/BHqaIMIjE1oEfNy9irlgK3o5HcGczPk8Z3nESZSTuSk+6SUlExKuRvwESAFpbWvCrrWEvRqj+EUdxGCEmoA6xRs8YDx/I+wQDWrjuQEiRrmGrcr2NLR/01ox3o4yHOkmZXUkSuNAckEfZXIaZdnv/tjqw/wvNBvtdr7+EepZuFgtoT69c=
  - secure: EeZWjq71oAQofIOImTJ7qoOtEAl4UeFVVPDcG9kMXzm8Wj5u9kXjXUoTghsM53wLPbzM2eqjI770UZxIHv+9Jrm7KnEhgSLUoz2WIHQDYsRAVwtWUBuT6EnjFL865f4qv2ji/ncBiI/Zim9KkWf8o3Gtt+7NWeGDQh7H71WHu2yLdVuUGzyzK4PiXfMUo77eXqa8sIqQfDV9f0QVxNpMieFU+jPQfWHAno9hplEDP70QCyEUt8zvhevRkQNhwHGxQJvrbaRFq74C6xCp9oTDA2DFV+1KLgXqQJdBDLI8aNBmH1gJ3QwOWvdpzQD8yweRjo2nXNV/zP16HBIToqUg+IoPJUCtknGsNLvvRtBZAd+whCel9O60GtFkQu62dZlQ2FLqurHwfbi1ZPa00/OngGG3mujL4ol5JnpXdAL83i5KMhPqs9oYzOwslnYFy/+cLxtfNDAqVfQVosP0vsCU7IpLbPCyfTa+GxrxdFe43+JD6Z/rpVqLrJgwZeZyrQE6mhpn9zavR/K4YschstNKfqtTlyRF+4eUoG2QXfvQMcDFAloPWYTH+MYfIEgqpnZcK4e9jKcWjVcyGIuIs6Af6lqwb2ZF0SzeMq8Z1mz1hUHhfnJV6+SDLQDC/iTsE+ZX3NcqMgb5l9rXCzpy5AmA8+fTvcNz25545z1XYHkdhR4=
